<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<title>Товарный чек</title>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="C:\Users\azeni\Desktop\цк\Модуль 3\your-app-name\src\app\pages\cheque\cheque.component.css">
</head>
<style>
    body {
        font-family: sans-serif;
    }
    </style>
    </head>
    <body>
    
    <div class="container">
        <h1>Договор</h1>
    
        <div class="form-row">
            <span class="input-line" style="width: 300px; margin-right: 10px;"></span>
        </div>
        <div class="form-row">
            <span class="form-label">Номер договора:</span>
            <span class="input-line"></span>
        </div>
        <div class="form-row">
            <span class="input-line" style="width: 300px; margin-right: 10px;"></span>
        </div>
    
        <div class="form-row">
            <span class="form-label">Покупатель:</span>
            <span class="input-line"></span>
        </div>

        <div class="form-row">
            <span class="form-label">Продавец:</span>
            <span class="input-line"></span>
        </div>

        <div class="form-row">
            <span class="form-label">Поставщик:</span>
            <span class="input-line"></span>
        </div>

        <div class="form-row">
            <span class="form-label">Машина:</span>
            <span class="input-line"></span>
        </div>

        <div class="form-row">
            <span class="form-label">Цена оплаты:</span>
            <span class="input-line"></span>
        </div>

        <div class="form-row">
            <span class="form-label">Статус оформления:</span>
            <span class="input-line"></span>
        </div>

        <div class="form-row">
            <span class="form-label">Гарантия:</span>
            <span class="input-line"></span>
        </div>
    
        <div class="form-row">
            <span class="form-label">Дата заключения договора:</span>
            <span class="input-line" style="width: 100px;"></span>
        </div>
        
        <a href="#" class="button">Сохранить изменения</a>
    </div>
